<p>This will contain the final css file for copy and paste not gona 
  explain css to people who have been studyn web development for 2-3 years....
</p>
</br>
<center><%= link_to image_tag("next.png"), { :controller => 'pages', :action => 'showpage', :title => 'user' }, :remote => true, :method => :post %></center>