<h2>Sign-up and Login System</h2><br>
<p>
  This app may not have need you to sign in a user but I wanted to include some form of gambling so best way
  was to login with a user that has a bankroll. In this section I will fly through the controllers for signing in a login.
</p>
<p>
  We will start with the sign-up. We will attack the User controllers first then setup the Sign Up form.
</P>
<div id="cmd" class="span9">
<pre>