<h2>Introduction</h2><br>
<p>Okay guys and Gals after I got a few of you to help with the beta testing of my blackjack app I was
  bombarded with questions about ruby on rails and the source code of my app. So I made a basic tutorial to
  create a simplified version of the app.</p>
  
  <p><em>'Small Screenshoot of app to go here'</em></p>
  
<p>Firstly I highly recommend doing Micheal Hartl's <strong>free</strong> Ruby on Rails tutorial (found here http://ruby.railstutorial.org/ruby-on-rails-tutorial-book) 
  before doing this one, as his tutorial goes further in depth into the user model and login/sign up etc. I will go through these but
  only briefly. His tutorial will also introduce you to all the basics of Rails such as controllers, models, views and gems. Not to 
  mention that his tutorial has some good links to help with the initial installation and setup of Rails.
</p>
    
<p>Secondly I am trying to keep this as short as possible and those of you that are interested enough to be doing this tutorial
  I am assuming that you already have a solid grasp on CSS so Im just gona include chunks for you to cut and paste without explaining all of it.
</p>

<p>A few things I want to share:</p>
<ul>
  <li>If your developing on windows and looking for a decent free editor I have been using Redcar which works fine.</li>
  <li>I will be using Rspec for testing. Testing is not something we really did at Ucol and after doing a few tutorials I got abit
    slack at adding testing to my apps. This was a big mistake coding testing as you go will help you understand whats going in your app 
    and improve your development skills. You have been warned ;-).</li>
  <li>I did <strong>alot</strong> of tutorials online and was pretty confident in my skills at rails development, but something became apparent
    as I began coding my own apps. All the tutorials taught me Rails but not alot of Ruby, to utilize Rails I recommend taking a step back and learning 
    abit more Ruby. Start with "Why The Lucky Stiff" which is an enjoyable read and available online in PDF format.
  </li>
  <li>I develop in Firefox and found the Firebug addon to be extremely usefull especially when it came to solving ajax related issues, just saying.</li> 
  <li>Use GitHub!!!!! This was something we didn't get introduced to at UCOL although I often talked about it with Dargie. It allows for version control and a handy hint 
    this is a brilliant way of remembering what you coded each day as you can view all your commits, making reflective journals for industry projects super easy!!</li> 
</ul>

<p><strong>Right so lets get into it!!</strong></p><br>
<center><%= link_to image_tag("next.png"), { :controller => 'pages', :action => 'showpage', :title => 'setup' }, :remote => true, :method => :post %></center>